/* style.css */
#Button {
    background-color: #0e1629;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

#Button:hover {
    background-color: #45a049;
    color: white;
}


#WButton {
    background-color: #0e1629;
    color: white;
}

#WButton:hover {
    background-color: #45a049;
    color: white;
}

#SatelliteField {
    background-color: #0e1629;
    color: white;
    font-size: 16px;
}

#SatelliteField:hover {
    background-color: #45a049;
    color: white;
}
